<p id="notice"><%= notice %></p>

<h1>Leases</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Term in months</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Rent</th>
      <th>Security deposit</th>
      <th>Storage fee</th>
      <th>Parking fee</th>
      <th>Total monthly rent</th>
      <th>Pets</th>
      <th>Pet deposit</th>
      <th>First month rent paid</th>
      <th>Last month rent paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leases.each do |lease| %>
      <tr>
        <td><%= lease.term_in_months %></td>
        <td><%= lease.start_date %></td>
        <td><%= lease.end_date %></td>
        <td><%= lease.rent %></td>
        <td><%= lease.security_deposit %></td>
        <td><%= lease.storage_fee %></td>
        <td><%= lease.parking_fee %></td>
        <td><%= lease.total_monthly_rent %></td>
        <td><%= lease.pets %></td>
        <td><%= lease.pet_deposit %></td>
        <td><%= lease.first_month_rent_paid %></td>
        <td><%= lease.last_month_rent_paid %></td>
        <td><%= link_to 'Show', lease %></td>
        <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
        <td><%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lease', new_lease_path %>
